.nav-group,
.nav-group-label {
  margin-bottom:1em;
}

.member-label {
  border:1px solid #DDD;
  display: inline-block;
  font-size:10px;
  text-align: center;
  width: 2em;
  border-radius:10px;
}

.member-property > .member-label {
  background-color:#43413E;
  color:#2ECBD6;
}

.member-method > .member-label {
  background-color:#2ECBD6;
  color:#000;
}

.member-handler > .member-label {
  background:#E1E0DC;
  color:#43413E;
}

.member-name {
  color:#000;
}

.current > .member-name {
  font-weight:bold;
  color:#C00
}

.nav-group-end {
  margin-bottom: 0.5em;
}
