@import '_base.scss';
@import '_grid.scss';

body {
font-family:'Droid Sans','Lucida Grande',sans-serif;
line-height:1.125em;
color:#444;
}

@import '_masthead.scss';
@import '_community.scss';
@import 'home/_index.scss';
@import '_posts.scss';
@import '_nav-list.scss';
@import '_solarized-light.scss';

.navigator {
  margin-top:2em;
  margin-bottom:2em;
}
