@import '_base.scss';
@import '_grid.scss';

body {
font-family:'Droid Sans','Lucida Grande',sans-serif;
line-height:1.125em
}

@import '_masthead.scss';
@import '_community.scss';
@import 'home/_index.scss';
@import '_posts.scss';
@import '_solarized-light.scss';

/* JamieMason temp additions */
.post ul,
.post pre,
.post h2,
.post h3 {
  margin-bottom: 1em; }

.col-4 {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4; }

.col-3 > li {
  display: block; }
